.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  background-color: #ffffff;
}

.logo {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 4rem;
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 40px;
  gap: 1rem;
}

.active {
  background-color: #f7d7e4;
  border-radius: 0 20px 20px 0;
  color: #dc1856;
}
